{% extends "base.html" %}
{% block title %}守正评级数据仓库{% endblock %}
{% block content %}
<div style="margin-left:15%;margin-right:15%">
{% if table %}
<h2>库信息</h2>
<table class = "table">
    {% for head in table_headers %}
	    <th>{{ head }}</th>
    {% endfor %}
    {% for line in table %}
        <tr>
            {% for td in line %}
                <td>{{td}}</td>
            {% endfor %}
            <!--<td><button type="button" class="btn btn-default" onclick="doSpider('{{ line.0 }}','{{ line.1 }}','{{ line.2 }}')">执行</button></td>-->
        </tr>
    {% endfor %}
</table>
{% endif %}
{% if column %}
<h2>指标信息</h2>
<table class = "table">
    {% for head in column_headers %}
	    <th>{{ head }}</th>
    {% endfor %}
    {% for line in column %}
        <tr>
            {% for td in line %}
                <td>{{td}}</td>
            {% endfor %}
            <!--<td><button type="button" class="btn btn-default" onclick="doSpider('{{ line.0 }}','{{ line.1 }}','{{ line.2 }}')">执行</button></td>-->
        </tr>
    {% endfor %}
</table>
{% endif %}
<script type="text/javascript">
    function doSpider(m,c,f){
        if(window.XMLHttpRequest)//如果有XMLHttpRequest，那就是非IE6浏览器。()里面加window的原因下面会有描述。
        {
             var oAjax = new XMLHttpRequest();//创建ajax对象
        }
        else//如果没有XMLHttpRequest，那就是IE6浏览器
        {
             var oAjax = new ActiveXObject("Microsoft.XMLHTTP");//IE6浏览器创建ajax对象
        }
        oAjax.open("GET","/crawl/crawl_action?m="+m+"&c="+c+"&f="+f,true);//加上t='+new Date().getTime()"的目的是为了消除缓存，每次的t的值不一样。
        oAjax.send();
        oAjax.onreadystatechange=function()
        {
             //oAjax.readyState  //浏览器和服务器，进行到哪一步了。
             //0->（未初始化）：还没有调用 open() 方法。
             //1->（载入）：已调用 send() 方法，正在发送请求。
             //2->载入完成）：send() 方法完成，已收到全部响应内容。
             //3->（解析）：正在解析响应内容。
             //4->（完成）：响应内容解析完成，可以在客户端调用。
             if(oAjax.readyState==4)
             {
                   if(oAjax.status==200)//判断是否成功,如果是200，就代表成功
                   {
                         alert("成功"+oAjax.responseText);//读取a.txt文件成功就弹出成功。后面加上oAjax.responseText会输出a.txt文本的内容
                   }
                   else
                   {
                         alert("失败");
                   }
             }
         };
    }
</script>
</div>
{% endblock %}
