{% extends "base.html" %}
{% block title %}守正评级数据仓库{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
    <form class="navbar-form navbar-left" action = "{% url 'article:search' %}" method='post'>
        {% csrf_token %}
        <div class="form-group">
            <select class="form-control" name = "ifcate">
                <option value=0>请选择有无分类</option>
                <option value = "cate">已分类</option>
                <option value="nocate">未分类</option>
                <option value="train">大智慧365训练样本</option>
            </select>
        </div>
        <div class="form-group">
             <input type="text" name="main_key" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
<div class="col-md-2"></div>
<div class="col-md-8">
    <table class = "table">
        {% block newslist %}

        <thead>
            <th>标题</th>
            <th>正文链接</th>
            <th>时间</th>
            <th>分类</th>
        <thead>
        <tbody>
            {% for line in data %}
                <tr>
                    <td><a href="/articledetail?entityurl={{ line.entityurl }}&title={{ line.title }}">{{ line.title }}</a></td>
                    <td>{{ line.entityurl }} </td>
                    <td>{{ line.entitytime }} </td>
                    <td>{{ line.rate }}</td>
                </tr>
            {% endfor %}
            {% endblock %}
        <tbody>
    </table>
</div>
<div class = "col-md-2"></div>
</div>
{% endblock %}
